{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block titel %}Последнии статьи{% endblock %}


{% block content %}

<div class="main_page_grid">

    <div class="box box1">
        <a class='link' href="/14">
        <div class="box1_grid">
            <img class="img_1" src="/media/img/1920x1080_px_Code_programming-542596.jpgd.jpeg" >
            {% if last_stat %}
        
                {% for a in last_stat %}
                    {% if a.id == 14 %}
                        <a class="text_home" >{{a.stat_text}}</a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        </div>
        </a>
    </div>

    <div class="box box2 light">

        <a class='link' href="/13">
        <div class="box2_grid">
            <img class="img_2" src="/media/img/django.jpg" >
            {% if last_stat %}
        
                {% for a in last_stat %}
                    {% if a.id == 15 %}
                        <a class="text_home2" >{{a.stat_text}}</a>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        </div>
        
        <button class="Django_set" >Настройка Django</button></a>
    </div>

    <div class="box box3">
        <a class='link' href="/10">
            <img class="img_3" src="/media/media_django.png">
                <button class="static_dj">Статика</button>
        </a>
    </div>

    <div class="box box4 ">
        <a class='link' href="/12">
            <img class="img_3" src="/media/img/css.png" >
            <button class="css_btn" >Css в Dj</button>
        </a>
        <a class='link' href="/11" style="margin-left: 3vw;">
            <img class="img_3" src="/media/img/js.jpg">
            <button class="js_btn">JS в Dj</button>
        </a>
    </div>

    <div class="box box5">
        

    </div>

</div>


{% endblock %}

